.products {
  background-color: red;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.singleproduct_outer {
  background-color: yellow;
  display: flex;
  flex-direction: column; 
}
.singleproduct_outer img{
    width: 150px;
    height: 150px;
}
.singleproduct_outer:hover{
    background-color: blue;
}